/**
 * 全局样式文件
 */

::-webkit-scrollbar { width: 6px; height: 6px; background-color: #fff; }
::-webkit-scrollbar-track { background-color: #fff; }
::-webkit-scrollbar-thumb { background-color: #ccc; border: 1px solid #ddd; }

.table-operator {
  margin-bottom: 16px;
}
.table-operator .ant-btn + .ant-btn {
  margin-left: 10px;
}